################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/DomainDrivenDesign.Core/bin/Debug
/DomainDrivenDesign.Core/obj/Debug
/DomainDrivenDesign.Domain/bin/Debug
/DomainDrivenDesign.Domain/obj/Debug
/DomainDrivenDesign.TestDomain/bin/Debug
/DomainDrivenDesign.TestDomain/obj/Debug
/packages
/.vs/DomainDrivenDesign.Core/v15
/DomainDrivenDesign.DomainShoppingCart/bin/Debug
/DomainDrivenDesign.DomainShoppingCart/obj/Debug
